html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: #d8ffff;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.component-view {
  width: 80vw;
  margin: 0 auto;
}

.section-title {
  margin: 2rem
}

.card {
  padding: 2% 5% 7% 5%;
  border-width: 2px
}

.card-title {
  padding-top: 5%
}

.card-information {
  text-align: left;
}

.card-image {
  padding: 5%;
}

.bundles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center
}

@media (min-width: 470px) {
  .bundles {
    height: 175px;
    width: 275px;
    align-items: flex-start;
  }
}
