html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: #f0ffff;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.component-view {
  width: 80vw;
  margin: 0 auto;
}

.section-title {
  margin: 2rem
}

.card {
  padding: 2% 5% 7% 5%
}

.card-title {
  padding-top: 5%
}

.card-information {
  text-align: left;
}

.card-image {
  padding: 5%;
}
